.ql-editor {
    min-height: 100px !important;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}

.ql-container {
    transition: border-color 0.5s;
}

.ql-toolbar {
    transition: border-bottom-color 0.5s;
}

/*.ql-editor {
    height: auto !important;
} */
