@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

:root {
  --primaryBlue: rgba(38 93 198, 1);
  --primaryBlueSplitted: 38, 93, 198;
  --primaryDark: #15262d;
}

#tsparticles {
  position: fixed;
  z-index: 0;
  height: 70vh;
}

.App {
  text-align: center;
  background: white;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}